/* Alert autoclose animation */
#alert-add-order-success {
    animation: Visible .3s forwards ease-in,
        Disappear .1s 5.7s forwards ease-in;
    ;
    position: fixed;
    bottom: 2em;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@keyframes Visible {
    from {
        visibility: hidden;
        transform: translateY(100%);
    }

    to {
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes Disappear {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
        transform: translateY(100%);
    }
}